<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.deepak.beans.Address" id="address">
        <property name="houseNo" value="546" />
        <property name="locality" value="Rohini Sector 45" />
        <property name="city" value="New Delhi" />
        <property name="pinCode" value="110067" />
        <property name="state" value="Delhi" />
    </bean>
    <bean id="subjects" class="com.deepak.beans.Subjects" >
        <property name="subjects">
            <list>
                <value>Materials Management</value>
                <value>Polymer Waste Management</value>
                <value>IPR</value>
            </list>
        </property>
    </bean>

    <bean class="com.deepak.beans.Student" id="std1" autowire="byName">
        <property name="name" value="Ganesh Mahto" />
        <property name="rollNo" value="420" />
        <property name="email" value="gamesh@gmail.com" />
        
    </bean>

</beans>
